body, #opciones-reserva, #info-reserva{
    display: grid;
    place-content: center;
}



#opciones-reserva, #info-reserva{
    border: 2px solid black;
    padding: 20px;
}

#info-reserva{
    margin-top: 20px;
}